@import '@/scss/mixins.scss';
@import '@/scss/common.scss';
@import '@/scss/fonts.scss';

.hero-section {
  @include flex(center, center, row);
  flex-wrap: wrap;
  margin: auto;
  gap: 10px;
  align-items: stretch;

  &__description__wrapper,
  &__carousel__wrapper {
    @include flex(start, center, column);
    flex: 1;
    margin: 20px;
    padding: 20px;
    max-width: 500px;

    background-color: var(--basic-background-blur-color);
    border-radius: 10px;
  }

  &__description__slogan {
    @include font(
      var(--headers1-font-family),
      var(--headers-font-weight),
      var(--headers1-font-size),
      30px
    );
    color: var(--basic-text-color);
  }

  &__description {
    @include font(
      var(--main-font-family),
      var(--headers-font-weight),
      var(--main-font-size),
      20px
    );
    color: var(--basic-text-color);
  }
}

@media screen and (max-width: 600px) {
  .hero-section {
    @include flex(center, center, column);
    flex-wrap: wrap;
    margin: auto;
    gap: 10px;

    &__description__wrapper,
    &__carousel__wrapper {
      min-width: 200px;
      min-height: 300px;
    }
  }
}
