@import '@/scss/mixins.scss';
@import '@/scss/common.scss';
@import '@/scss/fonts.scss';

.hero-section {
  $min-columns-width: 250px;
  $max-columns-width: 600px;

  overflow-y: scroll;
  box-sizing: border-box;

  margin: 0 auto;
  padding-top: 4em;
  padding-bottom: 4em;

  display: grid;
  grid-template-columns:
    minmax($min-columns-width, $max-columns-width)
    minmax($min-columns-width, $max-columns-width);
  gap: 4em;
  justify-items: end;
  justify-content: center;

  @media screen and (max-width: 1280px) {
    grid-auto-flow: row;
    justify-items: center;
  }

  &__carousel__wrapper {
    justify-self: start;

    @media screen and (max-width: 1280px) {
      justify-self: center;
    }
  }

  &__description__wrapper,
  &__carousel__wrapper {
    @include flex(start, center, column);
    padding: var(--padding-main);
    gap: var(--gap-main);
    min-height: 600px;
    background-color: var(--basic-background-blur-color);
    border-radius: 10px;
  }

  &__carousel__wrapper .iron-card {
    border-radius: 10px;
  }

  &__description__slogan {
    @include font(
      var(--headers1-font-family),
      var(--headers-font-weight),
      var(--headers1-font-size),
      30px
    );
    color: var(--basic-text-color);
  }

  &__description {
    @include font(
      var(--main-font-family),
      var(--headers-font-weight),
      var(--main-font-size),
      20px
    );
    color: var(--basic-text-color);
  }
}
